nltk~=3.9.1
numpy~=1.26.4
pytest~=8.3.3
matplotlib~=3.9.0rc2
datasets~=3.1.0
Sphinx~=8.1.3
psutil~=6.1.0
seaborn~=0.13.2
pandas~=2.2.3
requests~=2.32.3
scikit-learn~=1.6.0rc1
urllib3~=2.2.3
httpcore~=1.0.7
pydevd~=3.2.3
keyboard~=0.13.5
huggingface-hub~=0.26.3
pytest-mock~=3.14.0
natsort~=8.4.0